
{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    // errors
    "no-empty": [0],
    "new-cap": 0,
    "no-dupe-class-members": 2,

    //semicoin
    "semi": [2, "always"],

    // best practices
    "no-alert": [0],

    // styling
    "indent": [2, 2, {"SwitchCase": 1}],
    "quotes": [2, "single", "avoid-escape"],
    "space-after-keywords": 2,
    "space-before-blocks": 2,
    "eol-last": 2,
    "no-underscore-dangle": [0],
    "no-trailing-spaces": 0,
    "space-after-keywords": 2,
    "space-before-blocks": 2,
    "space-before-keywords": 0,
    "strict": [2, "global"],
    "brace-style": [2, "1tbs"],
    "comma-dangle": [2, "never"],
    "consistent-return": 2,
    "dot-location": [2, "property"],
    "dot-notation": 2,
    "no-multi-spaces": 2,
    "no-restricted-syntax": [2, "WithStatement"],
    "no-shadow": 2,
    "no-unused-expressions": 2,
    //"no-unused-vars": [2, {"args": "none"}],
    "no-use-before-define": 0,

    // eslint-plugin-react
    "react/display-name": 1,
    "react/jsx-boolean-value": [2, "always"],
    "react/jsx-sort-prop-types": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 2,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 1,
    "react/wrap-multilines": 2
  }
}
